<h2>{{communityName}}</h2>
<div style="font-weight: bold; font-size: 14px;">
	{{& call "avatar.displayName"}}
	<a href="{{&call "stream.url" message.fields.ordinal}}">
		commented on <em>'{{stream.fields.title}}'</em>
	</a>:
</div>
<div style="padding: 10px; background: #eee; color: black; font-style: italic; font-size: 12px;">
	{{message.fields.content}}
</div>