#Common ignores
*.DS_Store
.hg/
.hgtags/
.idea/
.bin/
docs/
/*
!platform
platform/.idea/
platform/local/*
platform/files/Q/Browscap/*
platform/files/Q/sessions/*
platform/plugins/Q/vendor/
platform/files/sessions/*
platform/plugins/*/web/img/icons
platform/plugins/*/files/
!platform/plugins/Websites/files/
!platform/plugins/Users/files/
!platform/plugins/Streams/files/
platform/plugins/Users/files/Users/icons/*
platform/plugins/Q/vendor/
platform/plugins/Users/vendor/
platform/plugins/Streams/vendor/
!platform/plugins/Users/files/Users/icons/default
!platform/plugins/Users/files/Users/icons/future
!platform/plugins/Users/files/Users/icons/labels/Users
platform/plugins/Streams/files/Streams/icons/*
platform/plugins/Streams/web/img/icons/*
!platform/plugins/Streams/files/Streams/icons/default
!platform/plugins/Streams/files/Streams/icons/labels
platform/plugins/Awards/classes/Composer/vendor
platform/plugins/Communities/
platform/plugins/Cards/
platform/plugins/Calendars/
platform/plugins/Catalogs/
platform/plugins/Media/
platform/node_modules
platform/vendor
MyApp/local/*
MyApp/files/MyApp/uploads/*/*
!MyApp/files/MyApp/uploads/Users/.dir
!MyApp/files/MyApp/uploads/Streams/.dir
MyApp/web/Q/*
!*.dir

api/*
.project
.settings/
node_modules/

# Class files includes
*.php.inc
*.js.inc

# Custom plugins
platform/plugins/Communities
platform/plugins/Streams/web/img/icons.lnk
platform/plugins/Travel

!composer.json
composer.lock
platform/plugins/Streams/files/Streams/icons.tar.gz

platform/files/Q/logs/
