#Common ignores
*.DS_Store
.hg/
.hgtags/
.idea/
.bin/
docs/
platform/.idea/
platform/local/*
platform/files/Q/sessions/*
platform/files/sessions/*
platform/plugins/*/files/
!platform/plugins/Users/files/
!platform/plugins/Streams/files/
platform/plugins/Users/files/Users/icons/*
!platform/plugins/Users/files/Users/icons/default
!platform/plugins/Users/files/Users/icons/future
platform/plugins/Streams/files/Streams/icons/*
!platform/plugins/Streams/files/Streams/icons/default
!platform/plugins/Streams/files/Streams/icons/labels
platform/plugins/Awards/classes/Composer/vendor
platform/node_modules
MyApp/local/*
MyApp/files/MyApp/uploads/*/*
!MyApp/files/MyApp/uploads/Users/.dir
!MyApp/files/MyApp/uploads/Streams/.dir
MyApp/web/plugins/*
SmartApp/local/*
SmartApp/files/*
SmartApp/web/plugins/*
!*.dir

api/*
.project
.settings/
node_modules/

# Class files includes
*.php.inc
*.js.inc

