<table class="Users_contacts_dialog Users_contacts_select">
{{#each contacts}}
	<tr>
		<td data-contact='{{this}}'>
			<div class="Users_contacts_dialog_buttons Users_contacts_dialog_{{../prefix}}">
				<i class="qp-communities-{{../prefix}}"></i>
			</div>
		</td>
		<td class="Users_contacts_dialog_name">{{this}}</td>
	</tr>
{{/each}}
</table>