<p>
	{{call "message.getInstruction" "displayName"}} has invited you to
	<a href='{{call "message.getInstruction" "inviteUrl"}}'>{{call "message.getInstruction" "title"}}</a>
</p>

<p>
	Please click the link above, or paste the following URL into your browser:
	{{call "message.getInstruction" "inviteUrl"}}
</p>
