<p>
	{{interpolate invite.email.HasMentionedYou displayName=(call "message.getInstruction" "displayName") title=(call "message.getInstruction" "title")}}
</p>
<p>
	{{invite.email.PleaseVisitLink}}
	<a href="{{call "message.getInstruction" "url"}}">
    	{{call "message.getInstruction" "url"}}
    </a>
</p>