vendors = webkit moz ms o css3
Q_base_font_size = 12px
Q_base_line_height = 16px

// dashboard
Q_dashboard_height = 49px
Q_dashboard_item_title_height = 14px
Q_dashboard_item_side_margin = 4px
Q_dashboard_item_bottom_margin = 4px

// dashboard > status
Q_status_font_size = 12px
Q_status_line_height = 14px
Q_status_padding_horizontal = 8px
Q_userpic_width = 35px
Q_userpic_height = Q_userpic_width
Q_userpic_margin_right = 6px

// panes
Q_pane_padding_horizontal = 10px
Q_pane_padding_vertical = 10px
Q_pane_border_radius = 10px
Q_interpane_gap = 10px
Q_left_pane_width = 310px
Q_collapsed_pane_width = 30px
Q_publisher_height = 40px
