{{{interpolate notifications.joined.Joined subject=(call "avatar.displayName") title=stream.fields.title}}}
<hr>
<p>{{notifications.IfUnsubscribe}}, <a href="{{baseUrl}}/Streams/participating">{{notifications.ManageEmailSubscriptions}}</a></p>