<div class='Calendars_event_curtain'>
	<div class="Q_tool Streams_preview_tool Streams_image_preview_tool"
	data-streams-preview='{"publisherId":"{{stream.fields.publisherId}}", "streamName":"{{stream.fields.name}}", "closeable": false, "imagepicker": {"showSize": "500x333", "saveSizeName": {"500x333": "500x333", "80x80": "80x80"}}}'>
	</div>
</div>
{{&tool "Calendars/event" publisherId=stream.fields.publisherId streamName=stream.fields.name}}